@media screen and (max-width: 480px){

    .contact1 {
        font-size: medium;
    }

    .contact2 {
        font-size: medium;

    }

    .fblogo {
        margin-top: 15px;
        display: flex;
    }
}
